
Estilizar a cor de fundo do seu site como o css
body{
background-color:pink ;
}

Estilizar o título principal do seu site
 h1{
color:pink;
font-family:pink ;
background: ;
}

Estilizar os parágrafos
p{
color: ;
font-family: pink;
font-size:pink ;
background: ;
}